
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
    <link href="~/css/LayoutOutside.css" rel="stylesheet" />
    <script src="~/js/LayoutOutside.js"></script>

</head>
<body>

    <div id="container">
        <div id="inviteContainer">
            <div class="logoContainer"><img class="logo" src="https://i1.wp.com/era.sa/wp-content/uploads/2020/04/RENDERERA-Logo-alpha.png?resize=1024%2C400&amp;amp;amp;amp;amp;amp;amp;ssl=1&amp;amp;amp;amp;amp;amp;quot;" /></div>
            <div class="acceptContainer">
                @RenderBody();
            </div>
        </div>
    </div>
    
   
</body>
</html>

