@model IEnumerable<RendERA.DB.ViewModels.TeamVM>
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th style="color:forestgreen">Name</th>
            <th style="color:forestgreen">Degination</th>
            <th style="color:forestgreen">Assign</th>
            <th style="color:forestgreen">Partner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
        <tr>
                <td style="color:forestgreen">
                @if (team.ProfilePicture == null)
                {
                    <img src="~/Images/User.jpg"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                }
                else
                {
                    <img src="~/ProfileImg/@team.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                }
                @team.Name
                </td style="color:forestgreen">
            <td  style="color:forestgreen">@team.Degination</td>
            <td  style="color:forestgreen">@team.assignJobCount</td>
            <td  style="color:forestgreen">@team.PartnerName</td>
        </tr>
        }
    </tbody>
</table>
