
@{
    ViewData["Title"] = "EditTeam";
    Layout = null;
}
@model RendERA.DB.ViewModels.ServerListVM

<h2 style="padding: 8px; color:forestgreen">Edit Server List</h2>
<form enctype="multipart/form-data" asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input asp-for="Id" hidden />
                <label asp-for="Name" class="col-md-2 control-label" style="color:forestgreen"></label>
                <input asp-for="Name" class="col-md-4 msgForm" style="color:black" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="IpAddress" class="col-md-2 control-label" style="color:forestgreen"></label>
                <input asp-for="IpAddress" class="col-md-4 msgForm" style="color:black" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input style="padding: 8px;color:forestgreen" class="btn bt-danger right" type="submit" value="submit" />
        <a asp-action="Index"><button style="padding: 8px;" type="button"><i class=""></i> Back to List</button></a>
    </div>
</form>
<div class="js-fake-scroll"></div>
<script type="text/javascript">

    function backToList() {
        window.location.assign(@Url.Action("Index","ServerLists");
    };
  
</script>
