@{

   Layout = "_LayoutOutside";
   // Layout = null;
}

<form method="get" action="Login">
    <h1>YOU'VE BEEN ACTIVATED TO JOIN</h1>
    <div class="serverInfo">
        <div class="img">
@*          <img src="https://i1.wp.com/era.sa/wp-content/uploads/2020/04/RENDERERA-Logo-alpha.png?resize=1024%2C400&amp;amp;amp;amp;amp;amp;amp;amp;ssl=1&amp;amp;amp;amp;amp;amp;amp;quot;" />*@
@*          <img src="https://i1.wp.com/era.sa/wp-content/uploads/2020/04/RENDERERA-Logo-alpha.png?resize=1024%2C400&amp;amp;amp;amp;amp;amp;amp;amp;ssl=1&amp;amp;amp;amp;amp;amp;amp;quot;" class="jetpack-lazy-image jetpack-lazy-image--handled" data-lazy-loaded="1">*@
        </div>
         <p><span class="server">Discord Offical Server</span><span class="by"> by</span><span class="name"> RENDERA</span></p>
    </div>
    <button class="acceptBtn">Accept and Login</button>

</form>
 