
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_LayoutAdmin";
}


    
<div class="content js-content">
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Last year total orders<span style="color:forestgreen">Total since 2019</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 630 210">
                <defs>
                    <linearGradient id="a" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-opacity="1" stop-color="rgba(255,0,102,0.7)" offset="0"></stop>
                        <stop stop-opacity=".1" stop-color="rgba(36,37,38,0.1)" offset="1"></stop>
                    </linearGradient>
                </defs>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#a)" transform="translate(0 80)"></path>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#a)" transform="translate(0 60)"></path>
                <path d="M0 152V54.544c9.587 0 17.804 59.731 27.391 59.731s17.805-17.29 27.392-17.29 17.804-18.863 27.39-18.863c9.588 0 17.805-11.003 27.392-11.003s17.805 55.015 27.392 55.015c9.586 0 17.804-53.443 27.39-53.443 9.588 0 17.805 3.144 27.392 3.144s17.804 15.718 27.391 15.718 17.805 22.006 27.392 22.006 17.804-15.718 27.391-15.718 17.804 15.718 27.391 15.718 17.805-12.575 27.392-12.575S346.5 5.816 356.087 5.816s17.804 73.878 27.391 73.878 17.805 12.575 27.392 12.575 17.804 11.003 27.39 11.003c9.588 0 17.805-39.297 27.392-39.297s17.805 17.29 27.391 17.29c9.587 0 17.805 3.145 27.392 3.145s17.804-17.291 27.391-17.291 17.804 23.578 27.391 23.578 17.805-40.869 27.392-40.869 17.804 6.288 27.391 6.288V152m0-95.884z" fill="url(#a)" transform="translate(0 20)"></path>
                <path d="M0 152V54.544c9.587 0 17.804 59.731 27.391 59.731s17.805-17.29 27.392-17.29 17.804-18.863 27.39-18.863c9.588 0 17.805-11.003 27.392-11.003s17.805 55.015 27.392 55.015c9.586 0 17.804-53.443 27.39-53.443 9.588 0 17.805 3.144 27.392 3.144s17.804 15.718 27.391 15.718 17.805 22.006 27.392 22.006 17.804-15.718 27.391-15.718 17.804 15.718 27.391 15.718 17.805-12.575 27.392-12.575S346.5 5.816 356.087 5.816s17.804 73.878 27.391 73.878 17.805 12.575 27.392 12.575 17.804 11.003 27.39 11.003c9.588 0 17.805-39.297 27.392-39.297s17.805 17.29 27.391 17.29c9.587 0 17.805 3.145 27.392 3.145s17.804-17.291 27.391-17.291 17.804 23.578 27.391 23.578 17.805-40.869 27.392-40.869 17.804 6.288 27.391 6.288V152m0-95.884z" fill="url(#a)"></path>
            </svg>
        </article>
        <footer>
            <span style="color:forestgreen">Total Progress</span>
            <section>
                <div></div>
            </section><em style="color:forestgreen">60%</em>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Render Clients<span style="color:forestgreen">Reports last week</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <ul>
                <li>
                    <div>
                        <div>
                            <svg width="26" height="26" viewBox="0 0 256 512">
                                <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                            </svg>
                        </div><strong> style="color:forestgreen"DreamWorks<span style="color:forestgreen">Texture Designer</span></strong>
                    </div><span style="color:forestgreen">Total Orders 890</span><span style="color:forestgreen">Followers 40%</span><span style="color:forestgreen">Clients $50k</span><a href="#">
                        <svg width="26" height="26" viewBox="0 0 512 512">
                            <path d="M117.65 277.65c6.25 6.25 16.38 6.25 22.63 0L192 225.94l84.69 84.69c6.25 6.25 16.38 6.25 22.63 0L409.54 200.4l29.49 29.5c15.12 15.12 40.97 4.41 40.97-16.97V112c0-8.84-7.16-16-16-16H363.07c-21.38 0-32.09 25.85-16.97 40.97l29.5 29.49-87.6 87.6-84.69-84.69c-6.25-6.25-16.38-6.25-22.63 0l-74.34 74.34c-6.25 6.25-6.25 16.38 0 22.63l11.31 11.31zM496" fill="rgba(3,252,44,0.7)"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <div>
                        <div>
                            <svg width="26" height="26" viewBox="0 0 192 512">
                                <path d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z" fill="currentColor"></path>
                            </svg>
                        </div><strong style="color:forestgreen">Pixar Studios<span style="color:forestgreen">Render Artist</span></strong>
                    </div><span style="color:forestgreen">Total Orders 240</span style="color:forestgreen"><span>Followers 20%</span><span style="color:forestgreen">Clients $20k</span><a href="#">
                        <svg width="26" height="26" viewBox="0 0 512 512">
                            <path d="M180.69 246.62c6.25 6.25 16.38 6.25 22.63 0L288 161.94l87.6 87.6-29.5 29.49c-15.12 15.12-4.41 40.97 16.97 40.97H464c8.84 0 16-7.16 16-16V203.07c0-21.38-25.85-32.09-40.97-16.97l-29.49 29.5-110.23-110.22c-6.25-6.25-16.38-6.25-22.63 0L192 190.06l-51.72-51.72c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63l74.35 74.34zM496" fill="rgba(255,0,102,0.7)"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <div>
                        <div>
                            <svg width="26" height="26" viewBox="0 0 256 512">
                                <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                            </svg>
                        </div><strong style="color:forestgreen">MPC Studios<span style="color:forestgreen">3D Designer</span></strong>
                    </div><span style="color:forestgreen">Total Orders 890</span><span style="color:forestgreen">Followers 40%</span><span style="color:forestgreen">Clients $50k</span><a href="#">
                        <svg width="26" height="26" viewBox="0 0 512 512">
                            <path d="M117.65 277.65c6.25 6.25 16.38 6.25 22.63 0L192 225.94l84.69 84.69c6.25 6.25 16.38 6.25 22.63 0L409.54 200.4l29.49 29.5c15.12 15.12 40.97 4.41 40.97-16.97V112c0-8.84-7.16-16-16-16H363.07c-21.38 0-32.09 25.85-16.97 40.97l29.5 29.49-87.6 87.6-84.69-84.69c-6.25-6.25-16.38-6.25-22.63 0l-74.34 74.34c-6.25 6.25-6.25 16.38 0 22.63l11.31 11.31zM496" fill="rgba(3,252,44,0.7)"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <div>
                        <div>
                            <svg width="26" height="26" viewBox="0 0 192 512">
                                <path d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z" fill="currentColor"></path>
                            </svg>
                        </div><strong style="color:forestgreen">Disney Animtion<span style="color:forestgreen">Animator</span></strong>
                    </div><span style="color:forestgreen">Total Orders 240</span><span style="color:forestgreen">Followers 20%</span><span style="color:forestgreen">Clients $20k</span><a href="#">
                        <svg width="26" height="26" viewBox="0 0 512 512">
                            <path d="M180.69 246.62c6.25 6.25 16.38 6.25 22.63 0L288 161.94l87.6 87.6-29.5 29.49c-15.12 15.12-4.41 40.97 16.97 40.97H464c8.84 0 16-7.16 16-16V203.07c0-21.38-25.85-32.09-40.97-16.97l-29.49 29.5-110.23-110.22c-6.25-6.25-16.38-6.25-22.63 0L192 190.06l-51.72-51.72c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63l74.35 74.34zM496" fill="rgba(255,0,102,0.7)"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <div>
                        <div>
                            <svg width="26" height="26" viewBox="0 0 256 512">
                                <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                            </svg>
                        </div><strong style="color:forestgreen">Universial Studios<span style="color:forestgreen">CGI Designer</span></strong>
                    </div><span style="color:forestgreen">Total Orders 890</span><span style="color:forestgreen">Followers 40%</span><span style="color:forestgreen">Clients $50k</span><a href="#">
                        <svg width="26" height="26" viewBox="0 0 512 512">
                            <path d="M117.65 277.65c6.25 6.25 16.38 6.25 22.63 0L192 225.94l84.69 84.69c6.25 6.25 16.38 6.25 22.63 0L409.54 200.4l29.49 29.5c15.12 15.12 40.97 4.41 40.97-16.97V112c0-8.84-7.16-16-16-16H363.07c-21.38 0-32.09 25.85-16.97 40.97l29.5 29.49-87.6 87.6-84.69-84.69c-6.25-6.25-16.38-6.25-22.63 0l-74.34 74.34c-6.25 6.25-6.25 16.38 0 22.63l11.31 11.31zM496" fill="rgba(3,252,44,0.7)"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                15.2K
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Incomes<span style="color:forestgreen"> Total since 2019</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 630 200">
                <defs>
                    <linearGradient id="b" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-opacity="1" stop-color="rgba(153,51,255,0.8)" offset="0"></stop>
                        <stop stop-opacity=".1" stop-color="rgba(36,37,38,0.1)" offset="1"></stop>
                    </linearGradient>
                </defs>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#b)" style="transform:scale(1.5) translateY(0px)"></path>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#b)" style="transform:scale(1.5) translateY(20px)"></path>
            </svg>
        </article>
        <footer>
            <span style="color:forestgreen">Progress</span>
            <section>
                <div></div>
            </section><em style="color:forestgreen">50%</em>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Xpenses<span style="color:forestgreen">Total since 2019</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 630 200">
                <defs>
                    <linearGradient id="c" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-opacity="1" stop-color="rgba(71,207,115,0.8)" offset="0"></stop>
                        <stop stop-opacity=".1" stop-color="rgba(36,37,38,0.1)" offset="1"></stop>
                    </linearGradient>
                </defs>
                <path d="M0 152V54.544c9.587 0 17.804 59.731 27.391 59.731s17.805-17.29 27.392-17.29 17.804-18.863 27.39-18.863c9.588 0 17.805-11.003 27.392-11.003s17.805 55.015 27.392 55.015c9.586 0 17.804-53.443 27.39-53.443 9.588 0 17.805 3.144 27.392 3.144s17.804 15.718 27.391 15.718 17.805 22.006 27.392 22.006 17.804-15.718 27.391-15.718 17.804 15.718 27.391 15.718 17.805-12.575 27.392-12.575S346.5 5.816 356.087 5.816s17.804 73.878 27.391 73.878 17.805 12.575 27.392 12.575 17.804 11.003 27.39 11.003c9.588 0 17.805-39.297 27.392-39.297s17.805 17.29 27.391 17.29c9.587 0 17.805 3.145 27.392 3.145s17.804-17.291 27.391-17.291 17.804 23.578 27.391 23.578 17.805-40.869 27.392-40.869 17.804 6.288 27.391 6.288V152m0-95.884z" fill="url(#c)" style="transform:scale(1.5) translateY(0px)"></path>
                <path d="M0 152V54.544c9.587 0 17.804 59.731 27.391 59.731s17.805-17.29 27.392-17.29 17.804-18.863 27.39-18.863c9.588 0 17.805-11.003 27.392-11.003s17.805 55.015 27.392 55.015c9.586 0 17.804-53.443 27.39-53.443 9.588 0 17.805 3.144 27.392 3.144s17.804 15.718 27.391 15.718 17.805 22.006 27.392 22.006 17.804-15.718 27.391-15.718 17.804 15.718 27.391 15.718 17.805-12.575 27.392-12.575S346.5 5.816 356.087 5.816s17.804 73.878 27.391 73.878 17.805 12.575 27.392 12.575 17.804 11.003 27.39 11.003c9.588 0 17.805-39.297 27.392-39.297s17.805 17.29 27.391 17.29c9.587 0 17.805 3.145 27.392 3.145s17.804-17.291 27.391-17.291 17.804 23.578 27.391 23.578 17.805-40.869 27.392-40.869 17.804 6.288 27.391 6.288V152m0-95.884z" fill="url(#c)" style="transform:scale(1.5) translateY(20px)"></path>
            </svg>
        </article>
        <footer>
            <span style="color:forestgreen">Progress</span>
            <section>
                <div></div>
            </section><em style="color:forestgreen" >70%</em>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Spendings<span style="color:forestgreen"> Total since 2019</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 630 200">
                <defs>
                    <linearGradient id="d" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-opacity="1" stop-color="rgba(255,51,119,0.8)" offset="0"></stop>
                        <stop stop-opacity=".1" stop-color="rgba(36,37,38,0.1)" offset="1"></stop>
                    </linearGradient>
                </defs>
                <path d="M0 152V71.835c9.587 0 17.804 22.006 27.391 22.006s17.805-6.288 27.392-6.288 17.804-7.86 27.39-7.86c9.588 0 17.805-25.149 27.392-25.149s17.805 26.722 27.392 26.722c9.586 0 17.804 15.718 27.39 15.718h27.392c9.587 0 17.804-6.287 27.391-6.287s17.805-12.575 27.392-12.575 17.804 44.012 27.391 44.012 17.804-29.865 27.391-29.865 17.805-25.15 27.392-25.15 17.804-11.003 27.391-11.003 17.804 11.003 27.391 11.003 17.805 17.29 27.392 17.29 17.804-20.434 27.39-20.434c9.588 0 17.805 4.716 27.392 4.716s17.805-62.875 27.391-62.875c9.587 0 17.805 103.743 27.392 103.743h27.391c9.587 0 17.804 4.716 27.391 4.716s17.805-64.447 27.392-64.447 17.804 53.444 27.391 53.444V152m0-48.728z" fill="url(#d)" style="transform:scale(1.5) translateY(0px)"></path>
                <path d="M0 152V71.835c9.587 0 17.804 22.006 27.391 22.006s17.805-6.288 27.392-6.288 17.804-7.86 27.39-7.86c9.588 0 17.805-25.149 27.392-25.149s17.805 26.722 27.392 26.722c9.586 0 17.804 15.718 27.39 15.718h27.392c9.587 0 17.804-6.287 27.391-6.287s17.805-12.575 27.392-12.575 17.804 44.012 27.391 44.012 17.804-29.865 27.391-29.865 17.805-25.15 27.392-25.15 17.804-11.003 27.391-11.003 17.804 11.003 27.391 11.003 17.805 17.29 27.392 17.29 17.804-20.434 27.39-20.434c9.588 0 17.805 4.716 27.392 4.716s17.805-62.875 27.391-62.875c9.587 0 17.805 103.743 27.392 103.743h27.391c9.587 0 17.804 4.716 27.391 4.716s17.805-64.447 27.392-64.447 17.804 53.444 27.391 53.444V152m0-48.728z" fill="url(#d)" style="transform:scale(1.5) translateY(20px)"></path>
            </svg>
        </article>
        <footer>
            <span style="color:forestgreen">Progress</span>
            <section>
                <div></div>
            </section><em style="color:forestgreen">60%</em>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Orders<span style="color:forestgreen">Total since 2019</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 630 200">
                <defs>
                    <linearGradient id="e" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-opacity="1" stop-color="rgba(71,207,115,0.8)" offset="0"></stop>
                        <stop stop-opacity=".1" stop-color="rgba(36,37,38,0.1)" offset="1"></stop>
                    </linearGradient>
                </defs>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#e)" style="transform:scale(1.5) translateY(0px)"></path>
                <path d="M0 152v-37.725c9.587 0 17.804-11.003 27.391-11.003s17.805-48.728 27.392-48.728 17.804 14.147 27.39 14.147c9.588 0 17.805-12.575 27.392-12.575s17.805 25.15 27.392 25.15c9.586 0 17.804 3.144 27.39 3.144 9.588 0 17.805-78.594 27.392-78.594s17.804 72.306 27.391 72.306 17.805 18.862 27.392 18.862 17.804 25.15 27.391 25.15 17.804-25.15 27.391-25.15 17.805-47.156 27.392-47.156 17.804 44.013 27.391 44.013 17.804-22.006 27.391-22.006 17.805-7.86 27.392-7.86 17.804 45.584 27.39 45.584c9.588 0 17.805-17.29 27.392-17.29s17.805-25.15 27.391-25.15c9.587 0 17.805 42.44 27.392 42.44s17.804-22.006 27.391-22.006 17.804-7.86 27.391-7.86S593.022 67.12 602.61 67.12 620.413 90.697 630 90.697V152m0-61.303z" fill="url(#e)" style="transform:scale(1.5) translateY(20px)"></path>
            </svg>
        </article>
        <footer>
            <span style="color:forestgreen">Progress</span>
            <section>
                <div></div>
            </section><em style="color:forestgreen">80%</em>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Allocation<span style="color:forestgreen">Reports Generated</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 215 80">
                <g transform="translate(0, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(20, 20)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(40, 0)">
                    <rect width="15" height="90" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(60, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(80, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(100, 30)">
                    <rect width="15" height="50" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(120, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(140, 20)">
                    <rect width="15" height="70" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(160, 0)">
                    <rect width="15" height="90" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(180, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#a)"></rect>
                </g>
                <g transform="translate(200, 30)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#a)"></rect>
                </g>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                60%
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Leads<span style="color:forestgreen">eports Submitted</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 215 80">
                <g transform="translate(0, 30)">
                    <rect width="15" height="50" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(20, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(40, 0)">
                    <rect width="15" height="90" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(60, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(80, 20)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(100, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(120, 20)">
                    <rect width="15" height="70" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(140, 30)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(160, 20)">
                    <rect width="15" height="70" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(180, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#b)"></rect>
                </g>
                <g transform="translate(200, 20)">
                    <rect width="15" height="70" stroke="transparent" fill="url(#b)"></rect>
                </g>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                82.2K
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Lags<span style="color:forestgreen">Reports Submitted</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <svg viewBox="0 0 215 80">
                <g transform="translate(0, 0)">
                    <rect width="15" height="90" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(20, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(40, 30)">
                    <rect width="15" height="50" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(60, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(80, 20)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(100, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(120, 20)">
                    <rect width="15" height="70" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(140, 30)">
                    <rect width="15" height="60" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(160, 0)">
                    <rect width="15" height="90" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(180, 10)">
                    <rect width="15" height="80" stroke="transparent" fill="url(#e)"></rect>
                </g>
                <g transform="translate(200, 0)">
                    <rect width="15" height="100" stroke="transparent" fill="url(#e)"></rect>
                </g>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                42K
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Last week total orders<span style="color:forestgreen">Reports last week</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <table class="article__table" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 192 512">
                                        <path d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Dakota Hooper</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Last update April 20, 2019</td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Ottawa</td>
                        <td rowspan="1" colspan="1"><span class="status delivered" style="color:forestgreen">Delivered</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 256 512">
                                        <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Minerva Rice</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1"style="color:forestgreen">Last update July 28, 2019</td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Al-Manama</td>
                        <td rowspan="1" colspan="1"><span class="status pending" style="color:forestgreen">Pending</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 256 512">
                                        <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Priyanka Chopra</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Last update August 16, 2019</td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">New Delhi</td>
                        <td rowspan="1" colspan="1"><span class="status cancelled"style="color:forestgreen">Cancelled</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 192 512">
                                        <path d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Dakota Hooper</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Last update April 20, 2019</td>
                        <td rowspan="1" colspan="1"style="color:forestgreen">Ottawa</td>
                        <td rowspan="1" colspan="1"><span class="status delivered" style="color:forestgreen">Delivered</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 256 512">
                                        <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Minerva Rice</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Last update July 28, 2019</td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Al-Manama</td>
                        <td rowspan="1" colspan="1"><span class="status pending" style="color:forestgreen">Pending</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <div>
                                <div>
                                    <svg width="26" height="26" viewBox="0 0 256 512">
                                        <path d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z" fill="currentColor"></path>
                                    </svg>
                                </div><strong style="color:forestgreen">Priyanka Chopra</strong>
                            </div>
                        </td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">Last update August 16, 2019</td>
                        <td rowspan="1" colspan="1" style="color:forestgreen">New Delhi</td>
                        <td rowspan="1" colspan="1"><span class="status cancelled" style="color:forestgreen">Cancelled</span></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                5.6M
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">News feed<span style="color:forestgreen">Reports Submitted</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <p style="color:forestgreen">+42%</p>
            <svg width="200" height="200" viewBox="0 0 200 200">
                <path d="M 98.77833154939016 30.010661339052618 A 70 70 0 1 0 100 30" fill="transparent" stroke-width="26" stroke="url(#a)"></path>
                <path d="M 100 30 A 70 70 0 1 0 160.6217782649107 135.00000000000003" fill="transparent" stroke-width="26" stroke="rgba(71,207,115,0.8)"></path>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                64.4%
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Feature<span style="color:forestgreen">Reports Submitted</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <p style="color:forestgreen">+50%</p>
            <svg width="200" height="200" viewBox="0 0 200 200">
                <path d="M 98.77833154939016 30.010661339052618 A 70 70 0 1 0 100 30" fill="transparent" stroke-width="26" stroke="url(#d)"></path>
                <path d="M 100 30 A 70 70 0 1 0 168.93654271085455 87.8446275633149" fill="transparent" stroke-width="26" stroke="rgba(71,207,115,0.8)"></path>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                76.9%
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="content_item">
        <header>
            <span style="color:forestgreen">Backup<span style="color:forestgreen">Reports Submitted</span></span>
            <div>
                <svg width="16" height="16" viewBox="0 0 19 19">
                    <path d="M19 8.313v2.377l-3.173.61a6.54 6.54 0 01-.58 1.402l1.812 2.675-1.68 1.678-2.68-1.81a6.516 6.516 0 01-1.406.58L10.684 19h-2.37l-.61-3.17a6.575 6.575 0 01-1.404-.58l-2.68 1.81-1.68-1.68 1.81-2.674a6.63 6.63 0 01-.58-1.406L0 10.688V8.313L3.174 7.7c.137-.488.332-.96.58-1.403L1.94 3.62l1.68-1.678 2.676 1.81A6.56 6.56 0 017.7 3.174L8.312 0h2.377l.61 3.172a6.6 6.6 0 011.4.578l2.674-1.81 1.676 1.68-1.81 2.677c.25.443.443.914.58 1.404l3.18.62zM6.47 11.246a3.498 3.498 0 106.062-3.496 3.498 3.498 0 00-6.06 3.496z" fill="currentColor"></path>
                </svg>
            </div>
        </header>
        <article>
            <p style="color:forestgreen">+12%</p>
            <svg width="200" height="200" viewBox="0 0 200 200">
                <path d="M 98.77833154939016 30.010661339052618 A 70 70 0 1 0 100 30" fill="transparent" stroke-width="26" stroke="url(#e)"></path>
                <path d="M 100 30 A 70 70 0 0 0 39.3782217350893 135" fill="transparent" stroke-width="26" stroke="rgba(71,207,115,0.8)"></path>
            </svg>
        </article>
        <footer>
            <a href="#" style="color:forestgreen">
                22.8%
                <svg width="18" height="18" viewBox="0 0 576 512">
                    <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" fill="currentColor"></path>
                </svg>
            </a>
        </footer>
    </div>
</div>
<div class="js-fake-scroll"></div>
@if (ViewBag.Msg != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Msg");
            };
    </script>
}