@{
    ViewData["Title"] = "Home";
    Layout = null;
}
<html>
<head></head>
<body>
    <table>
        <thead>
            <tr>
                <td>
                    <h4>Site map</h4>
                </td>
            </tr>
        </thead>
        <tr>
            <td><a href="/Account/Register" target="_blank">Register a User</a></td>
        </tr>
        <tr>
            <td><a href="/Account/RegisterPartner" target="_blank">Register a Partner</a></td>
        </tr>
        <tr>
            <td><a href="/Account/RegisterAdmin" target="_blank">Register a Admin</a></td>
        </tr>
        <tr><td> <hr /></td> </tr>
        <tr>
            <td><a href="/Account/Login" target="_blank">Login</a></td>
        </tr>


        <tr><td> <hr /></td> </tr>
        <tr>
            <td><a href="/Account/UserWelcome" target="_blank">   User Welcome Screen</a></td>
        </tr>
        <tr>
            <td><a href="/Home/UserDashboard" target="_blank">   User Dashboard</a></td>
        </tr>
        <tr>
            <td><a href="/Home/PartnerDashboard" target="_blank">   Partner Dashboard </a></td>
        </tr>
        <tr>
            <td><a href="/Home/AdminDashboard" target="_blank">  Admin Dashboard</a></td>
        </tr>
        <tr><td>&nbsp;</td> </tr>

    </table>
</body>
</html>