
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <div id="balanc" >
        <div class="container" style="max-width:1090px;">
            <div class="row">
                <div class="col-md-12 col-sm-12 widonezero">
                    <div class="horizontal-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-h" role="tab" aria-controls="profile">Balance recharge</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages-h" role="tab" aria-controls="messages">Coupon recharge</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile-h" role="tabpanel">
                                <div class="sv-tab-panel">
                                    <div class="container inner">

                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions" style="margin-left: 4%;">
                                            <p class="labelish" style=" color: white;">Current Balance : </p>

                                            <div id="payCC" class="floatBlock">
                                                <p style="padding-left: 10px;">0 US（Ordinary） </p> </label>
                                            </div>


                                        </div>



                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions" style="margin-left: 4%;">
                                            <p class="labelish" style=" color: white;">Accumulated : </p>

                                            <div id="payCC" class="floatBlock">
                                                <p style="padding-left: 10px;">0 US </p> </label>
                                            </div>


                                        </div>



                                        <span>amount</span>
                                        <ul class="dollar">
                                            <li>
                                                <p style="    border-bottom: 1px dashed #666; height:40px;">Upgrade to Silver</p>
                                                <h3 style=" height:40px;">US$500</h3>
                                                <h5 style="border-top: 1px dashed #666; height:40px;padding-top: 10px;">10% off</h5>
                                            </li>

                                            <li>
                                                <p style="    border-bottom: 1px dashed #666; height:40px;">Upgrade to Gold</p>
                                                <h3 style=" height:40px;">US$2,000</h3>
                                                <h5 style="border-top: 1px dashed #666; height:40px;padding-top: 10px;">20%% off</h5>
                                            </li>

                                            <li>
                                                <p style="    border-bottom: 1px dashed #666; height:40px;">Upgrade to Platinum</p>
                                                <h3 style=" height:40px;">US$5,000</h3>
                                                <h5 style="border-top: 1px dashed #666; height:40px;padding-top: 10px;">30% off</h5>
                                            </li>
                                            <li>
                                                <p style="    border-bottom: 1px dashed #666; height:40px;">Upgrade to Diamond</p>
                                                <h3 style=" height:40px;">US$10,000</h3>
                                                <h5 style="border-top: 1px dashed #666; height:40px;padding-top: 10px;">40%  off</h5>
                                            </li>
                                        </ul>

                                        <div class="form-group" style="margin-left: 10%; margin-top: 40px;">
                                            <input type="text" class="form-control" id="usr" placeholder="Other Amount">
                                        </div>



                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions">
                                            <p class="labelish">Payment Way :</p>

                                            <div id="payCC" class="floatBlock">
                                                <label for="paymentCC"> <input id="paymentCC" name="paymentType" type="radio" value="CREDIT_CARD" /> <img src="~/images/pay.png">  </label>
                                            </div>

                                            <div id="payInvoice" class="floatBlock">
                                                <label for="paymentInv">
                                                    Support : <img src="~/images/master.png">
                                                    <img src="~/images/amer.png">
                                                    <img src="~/images/master.png">
                                                    <img src="~/images/club.png">
                                                    <img src="~/images/viasa.png">
                                                </label>
                                            </div>
                                        </div>

                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions">
                                            <p class="labelish">Other Payment Way : </p>

                                            <div id="payCC" class="floatBlock">
                                                <label for="paymentCC"> <input id="paymentCC" name="paymentType" type="radio" value="CREDIT_CARD" />  Apple pay (Support Apple pay user)  </label>
                                            </div>


                                        </div>

                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions">
                                            <p class="labelish">Other Payment Way : </p>

                                            <div id="payCC" class="floatBlock">
                                                <label for="paymentCC"> <input id="paymentCC" name="paymentType" type="radio" value="CREDIT_CARD" />  GoogleWallet pay (Support GoogleWallet user)  </label>
                                            </div>


                                        </div>


                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions">
                                            <p class="labelish"> </p>

                                            <div id="payCC" class="btnre">
                                                <label for="paymentCC"> <input id="paymentCC" class="btn btn-success" name="paymentType" type="button" value="Recharge Now" /></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="messages-h" role="tabpanel">
                                <div class="sv-tab-panel">
                                    <div class="coupon">
                                        <p><span style="color: red;">*</span> The old platform coupon is no longer available. If you have an unprofited coupon on hand and it is in service, please contact 24 hours online customer service.</p><br> <br>

                                        <div id="paymentContainer" name="paymentContainer" class="paymentOptions">
                                            <p class="labelish">Other Payment Way : </p>

                                            <input type="text" class="form-control" id="usr1" placeholder="Coupon Code">
                                        </div>
                                        <div id="payCC" class="btnre">
                                            <label for="paymentCC"> <input id="paymentCC" class="btn btn-success" name="paymentType" type="button" value="Recharge Now" /></label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myNotificationModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="" style=" width: 53%; margin-left: 23%;">
                <div class="modal-header" style=" background: #3f4041;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="Trackingbodydata" style="padding: 0 56px;background: #3f4041;">


                </div>
                <div class="modal-footer" style=" background: #3f4041;">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function showActive() {
        var element = document.getElementById("Payment");
        element.classList.add("active");
    }
    showActive();
</script>